In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#to ignore warnings
import warnings
warnings.filterwarnings('ignore')
# Train a nearest neighbors model
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors


pd.pandas.set_option('display.max_columns',None)

In [2]:
data_dirc = pd.read_csv("D:/Pizza sales/data_dictionary.csv")

In [3]:
data_dirc

,Table,Field,Description
0,orders,order_id,Unique identifier for each order placed by a t...
1,orders,date,Date the order was placed (entered into the sy...
2,orders,time,Time the order was placed (entered into the sy...
3,order_details,order_details_id,Unique identifier for each pizza placed within...
4,order_details,order_id,Foreign key that ties the details in each orde...
5,order_details,pizza_id,Foreign key that ties the pizza ordered to its...
6,order_details,quantity,Quantity ordered for each pizza of the same ty...
7,pizzas,pizza_id,Unique identifier for each pizza (constituted ...
8,pizzas,pizza_type_id,Foreign key that ties each pizza to its broade...
9,pizzas,size,"Size of the pizza (Small, Medium, Large, X Lar..."
10,pizzas,price,Price of the pizza in USD
11,pizza_types,pizza_type_id,Unique identifier for each pizza type
12,pizza_types,name,Name of the pizza as shown in the menu
13,pizza_types,category,Category that the pizza fall under in the menu...
14,pizza_types,ingredients,Comma-delimited ingredients used in the pizza ...

In [2]:
order_details = pd.read_csv('D:/Pizza sales/pizza_sales/order_details.csv')
orders = pd.read_csv('D:/Pizza sales/pizza_sales/orders.csv')

In [3]:
pizzas = pd.read_csv('D:/Pizza sales/pizza_sales/pizzas.csv')

In [4]:
pizza_type = pd.read_csv("D:/Pizza sales/pizza_sales/pizza_types.csv")

In [26]:
order_details.head(10)

   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
5                 6         2     thai_ckn_l         1
6                 7         3    ital_supr_m         1
7                 8         3   prsc_argla_l         1
8                 9         4    ital_supr_m         1
9                10         5    ital_supr_m         1

In [28]:
orders.head(10)

   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30
5         6  2015-01-01  12:29:36
6         7  2015-01-01  12:50:37
7         8  2015-01-01  12:51:37
8         9  2015-01-01  12:52:01
9        10  2015-01-01  13:00:15

In [30]:
pizza_type.head(10)

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."

In [31]:
pizzas.head(10)

        pizza_id pizza_type_id size  price
0      bbq_ckn_s       bbq_ckn    S  12.75
1      bbq_ckn_m       bbq_ckn    M  16.75
2      bbq_ckn_l       bbq_ckn    L  20.75
3     cali_ckn_s      cali_ckn    S  12.75
4     cali_ckn_m      cali_ckn    M  16.75
5     cali_ckn_l      cali_ckn    L  20.75
6  ckn_alfredo_s   ckn_alfredo    S  12.75
7  ckn_alfredo_m   ckn_alfredo    M  16.75
8  ckn_alfredo_l   ckn_alfredo    L  20.75
9    ckn_pesto_s     ckn_pesto    S  12.75

In [5]:
a= order_details.shape
b= orders.shape
c= pizza_type.shape
d= pizzas.shape
print(a)
print(b)
print(c)
print(d)

(48620, 4)
(21350, 3)
(32, 4)
(96, 4)

In [43]:
pizzas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [6]:
# merging the tables order_details+ orders
order_d_full = pd.merge(order_details, orders, on='order_id')

In [45]:
order_d_full.shape

(48620, 6)

In [7]:
order_d_full.head()

   order_details_id  order_id       pizza_id  quantity        date      time
0                 1         1     hawaiian_m         1  2015-01-01  11:38:36
1                 2         2  classic_dlx_m         1  2015-01-01  11:57:40
2                 3         2  five_cheese_l         1  2015-01-01  11:57:40
3                 4         2    ital_supr_l         1  2015-01-01  11:57:40
4                 5         2     mexicana_m         1  2015-01-01  11:57:40

In [47]:
order_d_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
dtypes: int64(3), object(3)
memory usage: 2.6+ MB

In [8]:
# merge pizza_types +pizzas
pizza_details = pd.merge(pizza_type, pizzas, on ="pizza_type_id")

In [50]:
pizza_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  96 non-null     object
 1   name           96 non-null     object
 2   category       96 non-null     object
 3   ingredients    96 non-null     object
 4   pizza_id       96 non-null     object
 5   size           96 non-null     object
 6   price          96 non-null     float64
dtypes: float64(1), object(6)
memory usage: 6.0+ KB

In [9]:
pizza_details.head()

,pizza_type_id,name,category,ingredients,pizza_id,size,price
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_s,S,12.75
1,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_m,M,16.75
2,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",bbq_ckn_l,L,20.75
3,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",cali_ckn_s,S,12.75
4,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",cali_ckn_m,M,16.75

In [10]:
# final meriging of order_d_full + pizza_details
sales = pd.merge(order_d_full, pizza_details, on='pizza_id')

In [11]:
sales.shape

(48620, 12)

In [12]:
sales.head(10)

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,name,category,ingredients,size,price
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
1,179,77,hawaiian_m,1,2015-01-02,12:22:46,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
2,357,146,hawaiian_m,1,2015-01-03,14:22:10,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
3,389,163,hawaiian_m,1,2015-01-03,16:54:54,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
4,568,247,hawaiian_m,1,2015-01-04,20:55:29,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
5,716,314,hawaiian_m,1,2015-01-06,12:11:58,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
6,806,351,hawaiian_m,1,2015-01-06,17:37:29,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
7,856,377,hawaiian_m,1,2015-01-07,12:03:18,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
8,1263,558,hawaiian_m,1,2015-01-09,20:51:10,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
9,1312,580,hawaiian_m,1,2015-01-10,13:56:01,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25

In [56]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   name              48620 non-null  object
 8   category          48620 non-null  object
 9   ingredients       48620 non-null  object
 10  size              48620 non-null  object
 11  price             48620 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 4.8+ MB

In [13]:
pizza_sales = sales.copy()

In [14]:
pizza_sales.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,name,category,ingredients,size,price
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
1,179,77,hawaiian_m,1,2015-01-02,12:22:46,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
2,357,146,hawaiian_m,1,2015-01-03,14:22:10,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
3,389,163,hawaiian_m,1,2015-01-03,16:54:54,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25
4,568,247,hawaiian_m,1,2015-01-04,20:55:29,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25

In [15]:
pizza_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   name              48620 non-null  object
 8   category          48620 non-null  object
 9   ingredients       48620 non-null  object
 10  size              48620 non-null  object
 11  price             48620 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 4.8+ MB

In [16]:
# get year from the corresponding
# birth_date column value

pizza_sales['year'] = pd.DatetimeIndex(pizza_sales['date']).year

In [17]:
pizza_sales.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,name,category,ingredients,size,price,year
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015
1,179,77,hawaiian_m,1,2015-01-02,12:22:46,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015
2,357,146,hawaiian_m,1,2015-01-03,14:22:10,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015
3,389,163,hawaiian_m,1,2015-01-03,16:54:54,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015
4,568,247,hawaiian_m,1,2015-01-04,20:55:29,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015

In [ ]:
# get month from the corresponding
# birth_date column value
# df['month'] = pd.DatetimeIndex(df['birth_date']).month

In [18]:
pizza_sales['month'] = pd.DatetimeIndex(pizza_sales['date']).month

In [19]:
pizza_sales.head()

,order_details_id,order_id,pizza_id,quantity,date,time,pizza_type_id,name,category,ingredients,size,price,year,month
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015,1
1,179,77,hawaiian_m,1,2015-01-02,12:22:46,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015,1
2,357,146,hawaiian_m,1,2015-01-03,14:22:10,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015,1
3,389,163,hawaiian_m,1,2015-01-03,16:54:54,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015,1
4,568,247,hawaiian_m,1,2015-01-04,20:55:29,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",M,13.25,2015,1

In [23]:
pizza_sales.to_csv("pizza_sales.csv")

In [22]:
pizza_sales.shape

(48620, 14)

In [25]:
pizza_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
 4   date              48620 non-null  object
 5   time              48620 non-null  object
 6   pizza_type_id     48620 non-null  object
 7   name              48620 non-null  object
 8   category          48620 non-null  object
 9   ingredients       48620 non-null  object
 10  size              48620 non-null  object
 11  price             48620 non-null  float64
 12  year              48620 non-null  int64
 13  month             48620 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 5.6+ MB

In [19]:
# Making a list of all categorical variables
cat_col = [
    "pizza_type_id",
    "name",
    "category",
    "ingredients",
    "size",
    "year",
    
]
# Printing number of count of each unique value in each column
for column in cat_col:
    print(pizza_sales[column].value_counts())
    print("#" * 40)

classic_dlx     2416
bbq_ckn         2372
hawaiian        2370
pepperoni       2369
thai_ckn        2315
cali_ckn        2302
sicilian        1887
spicy_ital      1887
southw_ckn      1885
four_cheese     1850
ital_supr       1849
big_meat        1811
veggie_veg      1510
mexicana        1456
napolitana      1451
spinach_fet     1432
prsc_argla      1428
peppr_salami    1422
ital_cpcllo     1414
the_greek       1406
five_cheese     1359
pep_msh_pep     1342
green_garden     987
ckn_alfredo      980
ital_veggie      975
ckn_pesto        961
spin_pesto       957
soppressata      957
spinach_supr     940
calabrese        927
mediterraneo     923
brie_carre       480
Name: pizza_type_id, dtype: int64
########################################
The Classic Deluxe Pizza                      2416
The Barbecue Chicken Pizza                    2372
The Hawaiian Pizza                            2370
The Pepperoni Pizza                           2369
The Thai Chicken Pizza                        2315
The California Chicken Pizza                  2302
The Sicilian Pizza                            1887
The Spicy Italian Pizza                       1887
The Southwest Chicken Pizza                   1885
The Four Cheese Pizza                         1850
The Italian Supreme Pizza                     1849
The Big Meat Pizza                            1811
The Vegetables + Vegetables Pizza             1510
The Mexicana Pizza                            1456
The Napolitana Pizza                          1451
The Spinach and Feta Pizza                    1432
The Prosciutto and Arugula Pizza              1428
The Pepper Salami Pizza                       1422
The Italian Capocollo Pizza                   1414
The Greek Pizza                               1406
The Five Cheese Pizza                         1359
The Pepperoni, Mushroom, and Peppers Pizza    1342
The Green Garden Pizza                         987
The Chicken Alfredo Pizza                      980
The Italian Vegetables Pizza                   975
The Chicken Pesto Pizza                        961
The Spinach Pesto Pizza                        957
The Soppressata Pizza                          957
The Spinach Supreme Pizza                      940
The Calabrese Pizza                            927
The Mediterranean Pizza                        923
The Brie Carre Pizza                           480
Name: name, dtype: int64
########################################
Classic    14579
Supreme    11777
Veggie     11449
Chicken    10815
Name: category, dtype: int64
########################################
Pepperoni, Mushrooms, Red Onions, Red Peppers, Bacon                                                 2416
Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce                  2372
Sliced Ham, Pineapple, Mozzarella Cheese                                                             2370
Mozzarella Cheese, Pepperoni                                                                         2369
Chicken, Pineapple, Tomatoes, Red Peppers, Thai Sweet Chilli Sauce                                   2315
Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese                  2302
Coarse Sicilian Salami, Tomatoes, Green Olives, Luganega Sausage, Onions, Garlic                     1887
Capocollo, Tomatoes, Goat Cheese, Artichokes, Peperoncini verdi, Garlic                              1887
Chicken, Tomatoes, Red Peppers, Red Onions, Jalapeno Peppers, Corn, Cilantro, Chipotle Sauce         1885
Ricotta Cheese, Gorgonzola Piccante Cheese, Mozzarella Cheese, Parmigiano Reggiano Cheese, Garlic    1850
Calabrese Salami, Capocollo, Tomatoes, Red Onions, Green Olives, Garlic                              1849
Bacon, Pepperoni, Italian Sausage, Chorizo Sausage                                                   1811
Mushrooms, Tomatoes, Red Peppers, Green Peppers, Red Onions, Zucchini, Spinach, Garlic               1510
Tomatoes, Red Peppers, Jalapeno Peppers, Red Onions, Cilantro, Corn, Chipotle Sauce, Garlic          1456
Tomatoes, Anchovies, Green Olives, Red Onions, Garlic                                                1451
Spinach, Mushrooms, Red Onions, Feta Cheese, Garlic                                                  1432
Prosciutto di San Daniele, Arugula, Mozzarella Cheese                                                1428
Genoa Salami, Capocollo, Pepperoni, Tomatoes, Asiago Cheese, Garlic                                  1422
Capocollo, Red Peppers, Tomatoes, Goat Cheese, Garlic, Oregano                                       1414
Kalamata Olives, Feta Cheese, Tomatoes, Garlic, Beef Chuck Roast, Red Onions                         1406
Mozzarella Cheese, Provolone Cheese, Smoked Gouda Cheese, Romano Cheese, Blue Cheese, Garlic         1359
Pepperoni, Mushrooms, Green Peppers                                                                  1342
Spinach, Mushrooms, Tomatoes, Green Olives, Feta Cheese                                               987
Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce                             980
Eggplant, Artichokes, Tomatoes, Zucchini, Red Peppers, Garlic, Pesto Sauce                            975
Chicken, Tomatoes, Red Peppers, Spinach, Garlic, Pesto Sauce                                          961
Spinach, Artichokes, Tomatoes, Sun-dried Tomatoes, Garlic, Pesto Sauce                                957
Soppressata Salami, Fontina Cheese, Mozzarella Cheese, Mushrooms, Garlic                              957
Spinach, Red Onions, Pepperoni, Tomatoes, Artichokes, Kalamata Olives, Garlic, Asiago Cheese          940
Nduja Salami, Pancetta, Tomatoes, Red Onions, Friggitello Peppers, Garlic                            927
Spinach, Artichokes, Kalamata Olives, Sun-dried Tomatoes, Feta Cheese, Plum Tomatoes, Red Onions      923
Brie Carre Cheese, Prosciutto, Caramelized Onions, Pears, Thyme, Garlic                               480
Name: ingredients, dtype: int64
########################################
L      18526
M      15385
S      14137
XL       544
XXL       28
Name: size, dtype: int64
########################################
2015    48620
Name: year, dtype: int64
########################################